body {
    background: #000000;
}

.App {
    text-align: center;
    padding: 5% 10%;
}

.App-title {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
    color: #000000;
    background: #84bd00;
    border: 0 solid black;
    border-radius: 5px;
}


/* Artist profile */

.Profile {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    padding: 5px;
    margin-bottom: 10px;
    color: #ecebe8;
}

.Profile-img {
    width: 150px;
    height: 150px;
    border: 2px solid #ecebe8;
    border-radius: 50%;
    object-fit: cover;  
}

.Artist-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding-left: 2rem;
}

.Artist-info div:first-child {
    font-size: 3rem;
    font-weight: bold;
}

.Artist-info div:last-child {
    font-size: 1.5rem;
}


/* Gallery */

.Track {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 1.8rem;
}

.Track:hover {
    font-weight: bold;
    transform: scale(1.05);
}

.Track-img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.Track-text {
    position: absolute;
    bottom: 10px;
    width: 100%;    
    color: #000000;
    opacity: 0.75;
    background: #ecebe8;    
    text-align: center;
    padding: 10px;
    z-index: 999;    
}