/* Gallery */

.Track {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 1.8rem;
}

.Track:hover {
    font-weight: bold;
    transform: scale(1.05);
}

.Track-img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.Track-text {
    position: absolute;
    bottom: 10px;
    width: 100%;    
    color: #000000;
    opacity: 0.75;
    background: #ecebe8;    
    text-align: center;
    padding: 10px;
    z-index: 999;    
}