/* Gallery */

.Track {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 1.8rem;
}

.Track:hover {
    font-weight: bold;
    transform: scale(1.02);
}

.Track-img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.Track-play {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #ecebe8;
    opacity: 0;
}

.Track-play:hover {
    opacity: 0.6;
    animation-name: fade-in;
    animation-duration: 0.4s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.6;
    }
}

.Track-play-inner {
    position: absolute;
    top: 25%;
    text-align: center;
    font-size: 42px;
    background: #000000;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    color: #ecebe8;
    padding-top: 14px;
    margin-left: 33%;
}

.Track-text {
    position: absolute;
    bottom: 10px;
    width: 100%;    
    color: #000000;
    opacity: 0.75;
    background: #ecebe8;    
    text-align: center;
    padding: 10px;
}